    body {
        background-image: url("imag1.jpg");
        background-size: cover;             
        background-position: center;      
        background-repeat: no-repeat;
        margin: 0;
        font-family: Arial, sans-serif;
    }
    nav {
        background-color: black;
        padding: 20px;
    }
    nav ul {
        list-style: none;   
        margin: 0;
        padding: 0;
        display: flex;
        text-align: center;
        justify-content: space-between;
    }

    nav ul li {
        display: inline-block;   
        margin-left: 15px;
        margin-right: 15px;
    }

    nav ul li a {
        text-decoration: none;
        color: white;
        font-size: 20px;
        padding: 8px 15px;
    }

    nav ul li a:hover {
        background-color: rgb(71, 155, 74);
        border-radius: 8px;
    }    
    .hero {
        height: 400px;
        display: flex;                
        justify-content: center;
        align-items: center;
        color: black;
        text-align: center;
    }

    .title1{
        font-size: 30px;
    }
    .feature {
        display: flex;
        justify-content: space-around;
        padding: 40px;
    }
    .box {
        width: 300px;
        border: 1px solid lightblue;
        padding: 20px;
        margin: 10px;
        text-align: center;
        box-shadow: 0 4px 8px black;
        border-radius: 10px;
        background-color: rgb(230, 218, 218);
        opacity: 1; 
    }


    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        padding: 40px;
            }

    .gallery img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        }

            
    table {
        width: 80%;
        margin: 40px auto;
        border-collapse: collapse;
        
    }
    th, td {
        border: 1px solid black;
        padding: 12px;
        text-align: center;
    }
    th {
        background-color: rgb(3, 117, 3);
        color: white;
    }
    tr{
        background-color: lightgreen;
    }
    tr:hover {
        background-color: white;
    }
    .register {
        display: block;
        margin: 30px;
        padding: 15px 30px;
        background-color:rgb(248, 91, 0);
        color: white;
        font-size: 20px;
        border: none;
        border-radius: 30px;
        animation: pulse 2s infinite;
    }
    .register:hover {
        background-color: rgb(8, 3, 3);
        transform: scale(1.1);
    }

    @keyframes pulse {
        0% { transform: scale(1); }
        50% { transform: scale(1.05); }
        100% { transform: scale(1); }
    }

            
    footer {
        background-color:black;
        color: white;
        text-align: center;
        padding: 20px;
        }

    .help {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border-radius: 50px;
        text-decoration: none;
    }

            
    @media (max-width: 768px) {
        nav ul li {
            display: block;
            margin: 10px 0;
        }

    .feature {
        flex-direction: column;
    }

    .box {
        width: 90%;
    }

    .gallery {
        grid-template-columns: 1fr;
        }
    }